streamlit
pandas
numpy
networkx
matplotlib
seaborn
pgmpy
statsmodels
econml
scikit-learn
dowhy
pydot
shap
plotly
streamlit-aggrid
# Optional: uncomment if you want the TCN tab & your app uses it
# torch
