

--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu

streamlit==1.48.1
pandas==2.3.1
numpy==2.2.6
networkx==3.5
matplotlib==3.10.5
seaborn==0.13.2
pgmpy==1.0.0
statsmodels==0.14.5
econml==0.16.0
scikit-learn==1.6.1
dowhy==0.8
pydot==4.0.1
shap==0.48.0
plotly==6.3.0
streamlit-aggrid==1.1.7
# optional, but fine to keep:
numba==0.61.2
llvmlite==0.44.0




